.main-columns__left {
  float: left;
  width: 70%;
  margin-right: 5%;
}
.main-columns__right {
  float: right;
  width: 25%;    
}
.main-columns__right-part {
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 15px;
  border: 1px solid #d2cac3;
}
.main-columns__wrap {
  width: 1002px;
  margin: 0 auto;
}
.main-columns {
  background-color: #ebeae8;
}
.main-columns__left-part {
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 30px;
  border: 1px solid #d2cac3;
}
.main-columns__navigation {
  text-align: right;
}
.main-columns__navigation  a {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}