.main-columns__left {
  float: left;
  background-color: grey;
  width: 70%;
  margin-right: 5%;
}
.main-columns__right {
  float: right;
  background-color: grey;
  width: 25%;    
}
.clear {
  clear: both;
}