.subscribe {
    font-family: 'Verdana';
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 3px 3px 3px 3px;
}
.subscribe__form {
    font-weight: bold;
}
.p_input {
    padding: 10px;
}
.subscribe__description {
    margin-bottom: 35px;
    color: #8d8070;
}
.subscribe__email {
    background-color: #f5f0ec;
    width: 260px;
    height: 40px;
    border: 1px solid #8d8070;
    border-radius: 10px 10px 10px 10px;
}
.subscribe__form-footer {
    padding: 8px;
    text-align: right;
    background-color: #f5f0ec;
    margin-top: 15px;
}